# Python
__pycache__/
*.py[cod]

# Entornos
.venv/
venv/

# DB local
db.sqlite3
*.sqlite3

# Variables sensibles
.env

# Static compilado
staticfiles/

# OS
.DS_Store
Thumbs.db

db.sqlite3
*.sqlite3
staticfiles/
__pycache__/
*.pyc
.env