{% load static %}
<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}Control Glicemia{% endblock %}</title>

  <!-- CSS -->
  <link rel="stylesheet" href="{% static 'calculadora/css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'calculadora/css/base.css' %}">
  <link rel="stylesheet" href="{% static 'calculadora/css/control_glicemia.css' %}">
  <link rel="stylesheet" href="{% static 'calculadora/css/resultado.css' %}">
   <link rel="stylesheet" href="{% static 'calculadora/css/resultado_hiper.css' %}">
    <link rel="stylesheet" href="{% static 'calculadora/css/resultado_hipo.css' %}">
     <link rel="stylesheet" href="{% static 'calculadora/css/resultado_rango.css' %}">

  {% block extra_css %}{% endblock %}
</head>

<body>

  <!-- HEADER SIMPLE -->
  <header class="topbar">
    <div class="container topbar__inner">
      <h1 class="logo">Glicemia</h1>

      <nav>
        <a href="{% url 'control_glicemia' %}" class="btn">Inicio</a>
        <a href="{% url 'historial' %}" class="btn">Historial</a>
      </nav>
    </div>
  </header>

  <!-- CONTENIDO -->
  <main>
    {% block content %}
    {% endblock %}
  </main>

  <!-- FOOTER -->
  <footer class="footer">
    <div class="container">
      <p>© {{ now|date:"Y" }} - Calculadora de Glicemia</p>
    </div>
  </footer>

  <!-- JS -->
 <script src="{% static 'calculadora/js/main.js' %}?v=20260406"></script>

  {% block extra_js %}{% endblock %}

</body>
</html>